.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        groupname
      %ul.main-header__left-box__member-list
        Member：aaa
    .main-header__edit-btn 
      = link_to "/groups/:id/edit" do
        Edit
  .messages
    .messages__upper-info
      %i.messages__upper-info__talker
        username
      %i.messages__upper-info__date
        2019/11/13(Wed) 21:06:26
    .messages__text
      このテキストはサンプルです
  .form
    %form#new_message.new_message{"accept-charset" => "UTF-8", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}
      .input-box
        %input.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}
        %label.input-box__image{:for => "message_image"}
          %i.fa.fa-image
          //%input.input-box__image__file{:name => "message[image]", :type => "file"}/
      %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/