$light_blue: #38AEF0;
$font_white: #FFFFFF;
$font_gray: #999999;
$font_black: #333333;
$background_top: #253141;
$background_bottom: #2f3e51;
$background_gray: #fafafa;
$input_gray: #ddd;
//$side_bar_font